<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <dna_payment>
                <title>Payment method (DnaPayment)</title>
                <active>0</active>
                <model>DnaPaymentGatewayFacade</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <description>Order Payment</description>
                <test_mode>0</test_mode>
                <js_url_test><![CDATA[https://test-pay.dnapayments.com/test-payment-api.js]]></js_url_test>
                <terminal_id_test>35baee61-93df-40d9-b32c-31b867ed1988</terminal_id_test>
                <client_id_test>almacafe</client_id_test>
                <client_secret_test>rF587AV9Ms94qN2QShFzVR3vFnWkhjbAK3sG</client_secret_test>
            </dna_payment>
        </payment>
    </default>
</config>
