<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <dna_payment>
                <active>0</active>
                <model>Dna\Payment\Model\MainPaymentMethod</model>
                <title>Visa / Mastercard / American Express / Diners Club / Other</title>
                <payment_method_code>dna_payment</payment_method_code>
                <payment_action>authorize_capture</payment_action>
                <gateway_order_description>Pay with your credit card via our payment gateway.</gateway_order_description>
                <order_status_success>processing</order_status_success>
                <integration_type>0</integration_type>
                <can_authorize>0</can_authorize>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_initialize>1</can_initialize> <!--Important: read Magento\Sales\Model\Order-->
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_capture_partial>1</can_capture_partial>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <test_mode>0</test_mode>
                <group>dna_payment_group</group>
            </dna_payment>
            <dna_payment_cc_vault>
                <model>DnaPaymentCreditCardVaultFacade</model>
                <title>Stored Cards</title>
                <group>dna_payment_group</group>
            </dna_payment_cc_vault>
            <dna_payment_googlepay>
                <model>Dna\Payment\Model\GooglePay\GooglePayPaymentMethod</model>
                <title>Google Pay</title>
                <active>1</active>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <gateway_order_description>Pay with your credit card via Google Pay.</gateway_order_description>
                <order_status_success>processing</order_status_success>
                <integration_type>0</integration_type>
                <can_refund>1</can_refund>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize>1</can_authorize>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_authorize_vault>1</can_authorize_vault>
                <sort_order>1</sort_order>
                <test_mode>0</test_mode>
                <group>dna_payment_group</group>
            </dna_payment_googlepay>

            <dna_payment_applepay>
                <model>Dna\Payment\Model\ApplePay\ApplePayPaymentMethod</model>
                <title>Apple Pay</title>
                <active>1</active>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <gateway_order_description>Pay with your credit card via Apple Pay.</gateway_order_description>
                <order_status_success>processing</order_status_success>
                <integration_type>0</integration_type>
                <can_refund>1</can_refund>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize>1</can_authorize>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_authorize_vault>1</can_authorize_vault>
                <sort_order>1</sort_order>
                <test_mode>0</test_mode>
                <group>dna_payment_group</group>
            </dna_payment_applepay>

            <dna_payment_alipay_plus>
                <model>Dna\Payment\Model\Alipay\AlipayPaymentMethod</model>
                <title>Alipay</title>
                <active>1</active>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <gateway_order_description>Pay with your credit card via Alipay.</gateway_order_description>
                <order_status_success>processing</order_status_success>
                <integration_type>0</integration_type>
                <can_refund>1</can_refund>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize>1</can_authorize>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_authorize_vault>1</can_authorize_vault>
                <sort_order>1</sort_order>
                <test_mode>0</test_mode>
                <group>dna_payment_group</group>
            </dna_payment_alipay_plus>

            <dna_payment_wechatpay>
                <model>Dna\Payment\Model\WeChatPay\WeChatPayPaymentMethod</model>
                <title>WeChat Pay</title>
                <active>1</active>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <gateway_order_description>Pay with your credit card via WeChat Pay.</gateway_order_description>
                <order_status_success>processing</order_status_success>
                <integration_type>0</integration_type>
                <can_refund>1</can_refund>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize>1</can_authorize>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_authorize_vault>1</can_authorize_vault>
                <sort_order>1</sort_order>
                <test_mode>0</test_mode>
                <group>dna_payment_group</group>
            </dna_payment_wechatpay>

            <dna_payment_clicktopay>
                <model>Dna\Payment\Model\ClickToPay\ClickToPayPaymentMethod</model>
                <title>Click to Pay</title>
                <active>1</active>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <gateway_order_description>Pay with your credit card via Click to Pay.</gateway_order_description>
                <order_status_success>processing</order_status_success>
                <integration_type>0</integration_type>
                <can_refund>1</can_refund>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize>1</can_authorize>
                <can_initialize>1</can_initialize>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_authorize_vault>1</can_authorize_vault>
                <sort_order>1</sort_order>
                <test_mode>0</test_mode>
                <group>dna_payment_group</group>
            </dna_payment_clicktopay>
        </payment>
    </default>
</config>
