<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <dna_payment>
                <active>0</active>
                <model>DnaPaymentGatewayFacade</model>
                <title>Card Payment - Powered by DNA Payments</title>
                <gateway_order_description>Pay with your credit card via our payment gateway.</gateway_order_description>
                <order_status>pending</order_status>
                <order_status_success>pending</order_status_success>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <test_mode>0</test_mode>
            </dna_payment>
        </payment>
    </default>
</config>
