<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Dna\Payment\Api\OrderManagementInterface" type="Dna\Payment\Model\OrderManagement"/>
    <!-- Payment Method Facade configuration -->
    <virtualType name="DnaPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Dna\Payment\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Dna\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dna\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">DnaPaymentValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">DnaPaymentCommandPool</argument> <!-- TODO: remove -->
        </arguments>
    </virtualType>

    <!-- Payment Method: Google Pay -->
    <virtualType name="DnaPaymentGooglePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Dna\Payment\Model\GooglePay\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Dna\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">DnaPaymentGooglePayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">DnaPaymentCommandPool</argument> <!-- TODO: remove -->
        </arguments>
    </virtualType>
    <type name="Dna\Payment\Model\GooglePay\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dna\Payment\Model\GooglePay\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>
    <virtualType name="DnaPaymentGooglePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DnaPaymentGooglePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DnaPaymentGooglePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DnaPaymentGooglePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="DnaPaymentGooglePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">Dna\Payment\Model\GooglePay\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Configuration for Vault payments -->
    <virtualType name="DnaPaymentCreditCardVaultFacade" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">DnaPaymentVaultPaymentConfig</argument>
            <argument name="valueHandlerPool" xsi:type="object">DnaPaymentVaultPaymentValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">DnaPaymentGatewayFacade</argument>
            <argument name="code" xsi:type="const">Dna\Payment\Model\Ui\ConfigProvider::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DnaPaymentVaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dna\Payment\Model\Ui\ConfigProvider::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="DnaPaymentVaultPaymentValueHandlerPool" type="VaultPaymentValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DnaPaymentVaultPaymentValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DnaPaymentVaultPaymentValueHandler" type="VaultPaymentDefaultValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">DnaPaymentVaultPaymentConfig</argument>
        </arguments>
    </virtualType>

    <!--     Commands infrastructure-->
    <virtualType name="DnaPaymentCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">DnaPaymentInitializeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize command -->
    <virtualType name="DnaPaymentInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="transferFactory" xsi:type="object">Dna\Payment\Gateway\Http\DummyTransferFactory</argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR!Cannot instantiate interface Magento\Payment\Gateway\Http\TransferFactoryInterface if empty -->
            <argument name="client" xsi:type="object">Dna\Payment\Gateway\Http\Client\DummyClient</argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR getting command!Cannot instantiate interface Magento\Payment\Gateway\Http\ClientInterface if empty-->
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Dna\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Dna\Payment\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="DnaPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DnaPaymentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DnaPaymentConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Dna\Payment\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="Dna\Payment\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">Dna\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/dna_payment/terminal_id" xsi:type="string">1</item>
                <item name="payment/dna_payment/client_id" xsi:type="string">1</item>
                <item name="payment/dna_payment/client_secret" xsi:type="string">1</item>
                <item name="payment/dna_payment/gateway_order_description" xsi:type="string">1</item>
                <item name="payment/dna_payment/terminal_id_test" xsi:type="string">1</item>
                <item name="payment/dna_payment/client_id_test" xsi:type="string">1</item>
                <item name="payment/dna_payment/client_secret_test" xsi:type="string">1</item>
                <item name="payment/dna_payment/order_status_success" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="\Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="DnaPayment-OrderSender-Plugin" type="Dna\Payment\Plugin\OrderSenderPlugin" />
    </type>

    <type name="Dna\Payment\Plugin\OrderSenderPlugin">
        <arguments>
            <argument name="config" xsi:type="object">Dna\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>
</config>
