<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="main" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>DNA Payments</label>
                <field id="dna_payment_googlepay_active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable GooglePay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/dna_payment_googlepay/active</config_path>
                </field>
                <field id="dna_payment_applepay_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable ApplePay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/dna_payment_applepay/active</config_path>
                </field>
                <include path="Dna_Payment::system/credentials.xml"/>
                <include path="Dna_Payment::system/test.xml"/>
                <include path="Dna_Payment::system/order_management.xml"/>
                <include path="Dna_Payment::system/google_pay.xml"/>
                <include path="Dna_Payment::system/apple_pay.xml"/>
                <include path="Dna_Payment::system/alipay_plus.xml"/>
            </group>
        </section>
    </system>
</config>
