<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="css: {'_active': (getCode() == isChecked())}, attr: {'id': getCode() + '_payment_method'}"
     class="payment-method">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img data-bind="attr: {src: getLogo(), alt: $t('Payment Method Logo')}"
                 width="60"
                 class="payment-icon" />
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div data-bind="attr: {id: getCode() + '_warning_container'}" class="dna-payment-method-warning-container"
                 style="display: none;">
                <p data-bind="attr: {id: getCode() + '_warning_text'}" class="dna-payment-method-warning-text">
                </p>
            </div>

            <div data-bind="attr: {id: getCode() + '_container'}" class="dna-payment-method-container"></div>
        </div>
    </div>
</div>
